<div class="container">

    <mat-form-field class="full-width">
        <input type="text"
               name="meetupIdField"
               matInput
               [placeholder]="LABELS.IDENTITY"
               required
               [pattern]="PATTERNS.IDENTITY"
               [readonly]="editMode"
               #meetupIdField="ngModel"
               [(ngModel)]="meetupId">
        <mat-error *ngIf="meetupIdField.getError('required')">
            {{ LABELS.IDENTITY | requiredErrorMessage }}
        </mat-error>
        <mat-error *ngIf="meetupIdField.getError('pattern')">
            {{ PATTERNS.IDENTITY | patternErrorMessage }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input type="text"
               name="meetupName"
               matInput
               [placeholder]="LABELS.TITLE"
               required
               [pattern]="PATTERNS.REQUIRED_STRING"
               #meetupName="ngModel"
               [(ngModel)]="name">
        <mat-error *ngIf="meetupName.getError('required')">
            {{ LABELS.TITLE | requiredErrorMessage }}
        </mat-error>
        <mat-error *ngIf="meetupName.getError('pattern')">
            {{ PATTERNS.REQUIRED_STRING | patternErrorMessage }}
        </mat-error>
    </mat-form-field>


    <h3>Сообщество</h3>
    <mat-form-field class="full-width">
        <mat-select name="communityId"
                    placeholder="Сообщество"
                    [(ngModel)]="communityId"
                    required>
            <mat-option *ngFor="let community of COMMUNITIES"
                        [value]="community">
                {{ Community[community] }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <h3>
        <span>Площадка</span>
        <button type="button"
                color="primary"
                mat-button
                (click)="createVenue()">
            <mat-icon>fiber_new</mat-icon>
            <span>Создать</span>
        </button>
    </h3>

    <ng-container *ngFor="let _ of [venue]">
        <mtp-venue-list [title]="'Площадка'"
                        [iconName]="'edit'"
                        [iconText]="'Изменить'"
                        [venueId]="venue.id"
                        (selected)="onVenueSelected($event)"
                        (iconClicked)="editVenue()"></mtp-venue-list>
        <!-- <pre>{{ venue | json }}</pre> -->
    </ng-container>

    <h3>Друзья</h3>
    <mat-accordion cdkDropList
                   (cdkDropListDropped)="onFriendDrop($event)">
        <ng-container *ngFor="let friend of friends; let i = index">
            <mat-expansion-panel [expanded]="!friend.id"
                                 cdkDrag>

                <mat-expansion-panel-header collapsedHeight="auto"
                                            expandedHeight="auto">

                    <mat-panel-title>
                        <div class="friend-content">
                            <span class="handle"
                                  cdkDragHandle>
                                <svg width="24px"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path
                                          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                                    </path>
                                    <path d="M0 0h24v24H0z"
                                          fill="none"></path>
                                </svg>
                            </span>
                            <img class="avatar"
                                 [src]="friend.id | friendImageUrl">
                            <span>«{{ friend.name }}»</span>
                            <span>
                                <a target="_blank"
                                   [href]="friend.url"
                                   mat-button
                                   onclick="event.stopPropagation()">
                                    <mat-icon>public</mat-icon>
                                    <span>На сайт</span>
                                </a>
                                <button type="button"
                                        mat-icon-button
                                        (click)="deleteFriend($event, i)">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </span>
                        </div>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div>
                        <mtp-friend-editor [suppressNavigation]="true"
                                           [friendId]="friend.id"
                                           (saved)="onFriendSaved($event, i)"></mtp-friend-editor>
                    </div>
                    <!-- <pre>{{ friend | json }}</pre> -->
                </ng-template>

            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>

    <mtp-friend-list [title]="'Добавить друга'"
                     [iconName]="'fiber_new'"
                     [iconText]="'Создать друга'"
                     [friendLink]="{ friendId: '' }"
                     [clearOnSelect]="true"
                     (selected)="onFriendSelected($event)"
                     (iconClicked)="createFriend()"></mtp-friend-list>

    <h3 mat-subheader>Программа встречи</h3>
    <mat-accordion cdkDropList
                   (cdkDropListDropped)="onSessionDrop($event)">

        <ng-container *ngFor="let session of sessions; let i = index; let last = last">

            <mat-expansion-panel [expanded]="!session.talkId"
                                 cdkDrag>
                <mat-expansion-panel-header collapsedHeight="auto"
                                            expandedHeight="auto">
                    <mat-panel-title>
                        <div class="session-content">
                            <span class="handle"
                                  cdkDragHandle>
                                <svg width="24px"
                                     fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path
                                          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                                    </path>
                                    <path d="M0 0h24v24H0z"
                                          fill="none"></path>
                                </svg>
                            </span>
                            <span>
                                <span class="nowrap">
                                    <span>{{ session.startTime | datetime : timeFormat }}</span>
                                    <span> - </span>
                                    <span>{{ session.endTime | datetime : timeFormat }}</span>
                                </span>
                                <span class="session-description">
                                    <ng-container *ngIf="talks[session.talkId]">
                                        <ng-container *ngFor="let ref of talks[session.talkId].speakerIds">
                                            <span> {{ speakers[ref.speakerId].name }}</span>
                                            <span> ({{ speakers[ref.speakerId].companyName }})</span>
                                        </ng-container>
                                        <span> «{{ talks[session.talkId].title }}»</span>
                                    </ng-container>
                                </span>
                            </span>
                            <button type="button"
                                    mat-icon-button
                                    (click)="deleteSession(i)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <mtp-session-editor [title]="(!session.talkId ? 'Добавление' : 'Редактирование') + ' слота'"
                                        [session]="session"
                                        (talkSelected)="onTalkSelected($event, i)"
                                        (removeSession)="deleteSession(i)"></mtp-session-editor>
                    <!-- <pre>{{ session | json }}</pre> -->
                </ng-template>
            </mat-expansion-panel>

        </ng-container>

    </mat-accordion>

    <button type="button"
            color="primary"
            mat-button
            (click)="addSession()">
        <mat-icon>add</mat-icon>
        <span>Добавить слот</span>
    </button>

    <h3>Доклады</h3>
    <mat-accordion>

        <ng-container *ngFor="let session of sessions; let sessionIx = index">
            <ng-container *ngIf="talks[session.talkId]">
                <ng-container *ngFor="let talk of [talks[session.talkId]]">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header collapsedHeight="auto"
                                                    expandedHeight="auto">
                            <mat-panel-title>
                                <h4>{{ sessionIx + 1 }}. «{{ talk.title }}»</h4>
                                <p>{{ talk.description }}</p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <mtp-talk-editor [talkId]="talk.id"
                                             (saved)="onTalkSaved($event)"></mtp-talk-editor>
                            <!-- <pre>{{ talk | json }}</pre> -->
                        </ng-template>
                    </mat-expansion-panel>

                    <ng-container *ngFor="let ref of talk.speakerIds">
                        <ng-container *ngFor="let speaker of [speakers[ref.speakerId]]">

                            <mat-expansion-panel>
                                <mat-expansion-panel-header collapsedHeight="auto"
                                                            expandedHeight="auto">
                                    <mat-panel-title>
                                        <h4>{{ speaker.name }}</h4>
                                        <div class="about">
                                            <div>
                                                <img class="avatar"
                                                     [src]="speaker.id | speakerImageUrl">
                                            </div>
                                            <p>{{ speaker.description }}</p>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <ng-template matExpansionPanelContent>
                                    <mtp-speaker-editor [speakerId]="speaker.id"
                                                        (saved)="onSpeakerSaved($event, talk)"></mtp-speaker-editor>
                                    <!-- <pre>{{ speaker | json }}</pre> -->
                                </ng-template>
                            </mat-expansion-panel>

                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>

    </mat-accordion>
</div>
<div class="save-action">
    <button type="button"
            color="primary"
            mat-button
            (click)="save()">
        <mat-icon>save</mat-icon>
        <span>Сохранить</span>
    </button>
</div>